/*html{
    background-color:black;
}
.degrader{  
    display:flex;  
    margin: 10% 40% 0 40%;
    padding: 10px ;
    justify-content: center;
    align-items: center ;
    background-color: black;
    color: white;
    transition-property: background-color color border; 
    transition-duration: 1s;
    border: 2px solid white;
    &:hover{
        color:black;
        background-color: white;
        border: 2px solid black ;
    } 
}

.scale{  
    display:flex;  
    margin: 20% 40% 0 40%;
    padding: 10px ;
    justify-content: center;
    align-items: center ;
    background-color: black;
    color: white;
    transition-property: background-color color border transform; 
    transition-duration: 1s;
    border: 2px solid white;
    &:hover{
        color:black;
        background-color: white;
        border: 2px solid black ;
        transform: scale(2);
    } 
}
.decale{  
    display:flex;  
    margin: 20% 40% 10% 40%;
    padding: 10px ;
    justify-content: center;
    align-items: center ;
    background-color: black;
    color: white;
    transition-property: background-color color border transform; 
    transition-duration: 1s;
    border: 2px solid white;
    &:hover{
        color:black;
        background-color: white;
        border: 2px solid black ;
        transform: translateX(200px)
    } 
}*/   /*Excercice translate*/
